.contact_bg {
    top: -360px;
    left: -500px;
    z-index: -1;
}
.contact-title {
    color: var(--white);
    font-size: toRem(50px);
    padding: {
        top: 60px;
        bottom: 60px;
    };
}
.statements-success {
    text-align: center;
    margin: {
        top: 160px;
        bottom: 160px;
    };
    padding: {
        top: 32px;
        bottom: 32px;
        right: 24px;
        left: 24px;
    };
    @include media-breakpoint-up(lg) {
        padding: {
            right: 120px;
            left: 120px;
        };
    }
    @include media-breakpoint-up(md) {
        padding: {
            right: 40px;
            left: 40px;
        };
    }
}