.copyright_left {
    top: -55px;
    left: -430px;
    z-index: -1;
}
.copyright_right {
    top: 490px;
    right: -430px;
    z-index: -1;
}

.copyright-body {
    h3{
        margin-bottom: map-get($spacies, 5);
    }
    p {
        font-size: toRem(16px);
        &:not(:last-child) {
            margin-bottom: map-get($spacies, 5);
        }
    }
}